.comment-view {
  height: 100%;
  position: relative;
  margin-top: 3rem;
  height: calc(100% - 3rem);
}

.comment-view__list {
  height: calc(100% - 3rem);
  overflow-y: scroll;
  padding: 0.5rem;
}

.comment-view__box {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
